@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-size: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

img {
  max-width: 100%;
  object-fit: contain;
}

body {
  height: 100%;
  margin: 0;
  min-width: 1200px;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
}

.page-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 16px #cccccc;
}

.main-index,
.main-inner {
  flex-grow: 1;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* header */

.page-header {
  display: flex;
  padding-left: 240px;
  padding-right: 70px;
  position: relative;
}

.logo-link {
  display: block;
  width: 139px;
  height: 70px;
  position: absolute;
  z-index: 1;
  left: 70px;
}

.navigation {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
}

.navigation-menu {
  max-width: 500px;
  margin-right: auto;
}

.navigation-user {
  align-items: center;
  margin-right: 21px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  padding: 20px 17px 19px 17px;
  display: block;
  position: relative;
  color: #000000;
  transition: color 0.2s;
}

.navigation-link-current::before {
  position: absolute;
  content: "";
  height: 2px;
  right: 17px;
  left: 17px;
  bottom: -1px;
  z-index: 1;
  background-color: #756257;
}

.navigation-link:hover:not(.navigation-link-current) {
  color: #756157;
}

.navigation-link:focus {
  color: #756157;
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 4px;
  outline: none;
}

.navigation-link:active:not(.navigation-link-current) {
  color: rgba(117, 97, 87, 0.3);
  box-shadow: none;
}

.navigation-link-search {
  padding: 20px 11px 17px 11px;
}

.navigation-link-favorites {
  padding: 19px 11px 18px 11px;
  position: relative;
}

.count-badge {
  position: absolute;
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 50%;
  padding: 3.5px 4.5px;
  top: 15px;
  right: -3px;
}

.search-icon {
  transition: fill 0.2s;
  margin-top: 4px;
}

.favorites-icon {
  transition: fill 0.2s;
}

.navigation-link-user:hover .search-icon,
.navigation-link-user:hover .favorites-icon {
  fill: #756157;
}

.navigation-link-user:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 4px;
  outline: none;
}

.navigation-link-user:active {
  box-shadow: none;
}

.navigation-link-user:focus .search-icon,
.navigation-link-user:focus .favorites-icon {
  fill: #756157;
}

.navigation-link-user:active .search-icon,
.navigation-link-user:active .favorites-icon {
  fill: rgba(117, 97, 87, 0.3);
}

/* main-index */

.main-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #dbe9f2;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-width: 1200px;
  min-height: 485px;
  position: relative;
}

.main-title::after {
  content: "";
  width: 1200px;
  height: 57px;
  position: absolute;
  background-image: url("../images/mask.png");
  background-size: 1200px 57px;
  background-repeat: no-repeat;
  bottom: -1px;
  left: 0;
}

.welcome-image {
  margin: 51px auto 0;
}

.main-text-wrapper {
  padding: 63px 270px 90px;
}

.main-text-bold,
.main-text {
  margin: 0;
  text-align: center;
}

.main-text-bold {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 31px;
}

.main-text {
  color: #333333;
}

/* features */

.bridge-photo,
.city-photo {
  object-fit: cover;
  height: auto;
}

.features-header,
.reason-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.features-header {
  position: relative;
  margin-bottom: 80px;
}

.features-header::before {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  content: "— №" counter(number) " —";
  left: 50%;
  bottom: -50px;
  transform: translateX(-50%);
  counter-increment: number;
}

.features-text,
.reason-text {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.features-text:not(:last-child) {
  margin-bottom: 30px;
}

.features-text-colored {
  color: #ffffff;
}

.features-wrapper-saturated {
  background-color: #82b3d3;
  color: #ffffff;
}

.reason-item-color {
  background-color: rgba(131, 179, 211, 0.12);
}

.features-wrapper-unsaturated {
  background: rgba(131, 179, 211, 0.12);
}

.features-wrapper-medium-saturated {
  background: rgba(131, 179, 211, 0.2);
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  counter-reset: number;
}

.features-item,
.reason-list {
  display: flex;
  flex-wrap: wrap;
}

.features-wrapper,
.reason-item {
  width: 400px;
  min-height: 384px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features-wrapper {
  position: relative;
  padding: 85px;
}

.reason-item {
  padding: 184px 85px 79px 85px;
  position: relative;
}

.reason-item-house::before,
.reason-item-food::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  left: 162px;
  top: 80px;
}

.reason-item-gift::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  width: 79px;
  height: 76px;
  left: 160px;
  top: 78px;
  background-image: url("../images/gift.svg");
  background-size: 79px 76px;
}

.reason-item-house::before {
  background-image: url("../images/house.svg");
  background-size: 75px 72px;
}

.reason-item-food::before {
  background-image: url("../images/food.svg");
  background-size: 75px 72px;
}

/* hotels searching */

.search-hotels {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 90px 300px 93px 300px;
}

.search-hotels-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 29px 0;
}

.search-hotels-text {
  font-size: 22px;
  color: #333333;
  margin: 0 0 56px 0;
}

/* subscription index */

.subscription-index {
  color: #ffffff;
  background-color: #4179a8;
  background-image: url("../images/subscription-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.subscription {
  padding: 94px 100px 94px 100px;
  text-align: center;
}

.subscription-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 29px 0;
}

.subscription-header-catalog {
  color: #333333;
}

.subscription-text {
  font-size: 22px;
  margin: 0 0 46px 0;
}

.subscription-form {
  display: flex;
  justify-content: center;
}

.subscription-field {
  font-size: 18px;
  font-family: inherit;
  line-height: 21px;
  width: 600px;
  padding: 20px 22px 19px 22px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border: none;
  border-radius: 10px 0 0 10px;
  outline: none;
}

.subscription-field:hover :not(.subscription-field:disabled) {
  background-color: #e6e6e6;
}

.subscription-field:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.subscription-field:not(:placeholder-shown) {
  box-shadow: inset 0 0 0 2px solid #000000;
  outline: none;
}

.subscription-field:disabled {
  opacity: 30%;
}

/* footer */

.page-footer {
  padding: 32px 55px 18px 71px;
  display: flex;
  align-items: center;
  min-width: 120px;
}

.social-list {
  display: flex;
  margin-right: 222px;
}

.footer-social-link {
  position: relative;
  display: block;
  width: 47px;
  height: 40px;
  padding: 15px 0;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.2s;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83b3d3;
  transition: fill 0.2s;
}

.footer-social-link:hover .social-icon {
  fill: #68a2ca;
}

.footer-social-link:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.footer-social-link:focus .social-icon {
  fill: #68a2ca;
}

.footer-social-link:active .social-icon {
  fill: #68a2ca;
  opacity: 30%;
}

.footer-social-link:active {
  outline: none;
}

.footer-telephone-link {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  padding: 15px 15px;
  margin-right: auto;
  transition: color 0.2s;
}

.footer-telephone-link:hover {
  color: #756157;
}

.footer-telephone-link:focus {
  color: #756157;
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.footer-telephone-link:active {
  color: rgba(117, 97, 87, 0.3);
  outline: none;
}

.footer-developer-link {
  padding: 15px 15px;
  transition: fill 0.2s;
}

.footer-developer-link:hover .developer-logo {
  fill: #756157;
  transition: fill 0.2s;
}

.footer-developer-link:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.footer-developer-link:active {
  outline: none;
}

.footer-developer-link:focus .developer-logo {
  fill: #756157;
}

.footer-developer-link:active .developer-logo {
  fill: #756157;
  opacity: 30%;
}

/* main-catalog filters*/

.main-inner-filter {
  color: #ffffff;
  background-color: #4179a8;
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 70px 70px 71px;
}

.main-inner-headline {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
  margin-bottom: 10px;
}

.breadcrumbs-list {
  font-size: 16px;
  line-height: 21px;
  display: flex;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item::after {
  position: absolute;
  content: "";
  background: url("../images/breadcrumbs_arrow.svg");
  background-size: 7px 9px;
  background-repeat: no-repeat;
  width: 7px;
  height: 9px;
  top: 6px;
  right: -13px;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 23px;
}

.breadcrumbs-item:last-child .breadcrumbs-link::after {
  content: none;
}

.breadcrumbs-link-home {
  background-image: url("../images/breadcrumbs-house.svg");
  background-repeat: no-repeat;
  background-size: 13px 13px;
  background-position: center;
  padding: 0 8px;
}

.breadcrumbs-link {
  outline: none;
}

.breadcrumbs-link:hover:not(.breadcrumbs-current) {
  opacity: 60%;
}

.breadcrumbs-link:focus {
  box-shadow: 0 0 0 2px #83b3d3;
  border-radius: 4px;
}

.breadcrumbs-link:active:not(.breadcrumbs-current) {
  opacity: 30%;
  box-shadow: none;
}

.filters-form {
  display: flex;
  justify-content: space-between;
}

.filter-legend {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
  padding: 0;
}

.filter-legend-price {
  margin-bottom: 34px;
}

.filter-group-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 450px
}

.inner-filter-group:nth-child(n+3) {
  margin-top: 30px;
}


.inner-filter-group {
  border: 0;
  margin: 0;
  padding: 0;
}

.inner-filter-group:nth-child(odd):not(:last-child) {
  margin-right: 71px;
}

.group-list {
  line-height: 21px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.group-item:not(:last-child) {
  margin-bottom: 15px;
}

.group-item-label {
  padding-left: 40px;
  position: relative;
  cursor: pointer;
}

.group-item-label-infrastructure::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin-top: 1px;
}

.control-input[type="checkbox"]:checked + .group-item-label-infrastructure::before {
  position: absolute;
  content: "";
  background-image: url("../images/mark.svg");
  background-size: 13px 11px;
  background-repeat: no-repeat;
  background-position: 4px 5px;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
}

.group-item-label-typeofhousing::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  left: 1px;
  top: 0;
  right: 0;
  bottom: 0;
  margin-top: 1px;
}

.control-input[type="radio"]:checked + .group-item-label-typeofhousing::before {
  position: absolute;
  content: "";
  background-image: url("../images/dot.svg");
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  top: 0;
  left: 1px;
  border-radius: 50%;
}

.group-item-label:hover::before {
  opacity: 60%;
}

.control-input:focus + .group-item-label::before {
  opacity: 60%;
  outline: 3px solid #83b3d3;
}

.group-item-label:active::before {
  opacity: 30%;
}


.control-input:disabled + .group-item-label::before,
.control-input:disabled + .group-item-label {
  opacity: 30%;
}

.filter-group-price {
  border: 0;
  margin: 0;
  padding: 0;
  margin-right: 68px;
}

.filter-price-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.group-price-wrapper {
  margin-bottom: 28px;
  display: flex;
  position: relative;
}

.price-field {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  width: 145px;
  /* для safari */
  padding: 12px 40px 11px 17px;
  background-color: transparent;
  border: 2px solid #ffffff;
  outline: none;
  box-sizing: border-box;
}

.price-field-from {
  border-radius: 4px 0 0 4px;
}

.price-field-till {
  border-radius: 0 4px 4px 0;
  transform: translateX(-2px);
}

.price-field:hover :not(.price-field:disabled) {
  border-color: rgba(255, 255, 255, 0.6);
}

.price-field:focus {
  box-shadow: 0 0 0 3px #68a2ca,
    inset 0 0 0 3px #68a2ca;
  border-color: #ffffff;
  z-index: 1;
}

.price-field:active :not(.price-field:disabled) {
  border-color: #ffffff;
  box-shadow: none;
  background-color: #756257;
}

.price-field:disabled {
  opacity: 30%;
}

.price-label-from {
  position: absolute;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  opacity: 30%;
  top: 11px;
  right: 160px;
  z-index: 2;
}

.price-label-till {
  position: absolute;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  opacity: 30%;
  top: 11px;
  right: 19px;
  z-index: 2;
}

.filter-button-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.range-wrapper {
  position: relative;
}

.range-scale {
  position: absolute;
  width: 288px;
  height: 4px;
  background-color: #ffffff;
  opacity: 30%;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 53px;
}

.range-toggle:focus {
  outline: 3px solid #82b3d3;
}

.range-toggle:active {
  outline: 2px solid #82b3d3;
}

/* results */

.results {
  padding: 55px 71px 25px 73px;
}

.results-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
}

.results-header {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: auto 0;
  max-width: 450px;
}

.results-filter {
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: flex-start;
}

.results-sorting {
  margin-right: 78px;
  width: 290px;
}

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 225px;
  justify-content: end;
}

.button-view-cards {
  background-image: url("../images/view-1.svg");
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: center;
}

.button-view-one-by-one {
  background-image: url("../images/view-2.svg");
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: center;
}

.button-view-list {
  background-image: url("../images/view-3.svg");
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: center;
}

.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 0 18px;
  padding-bottom: 66px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 29px;
}

.hotels-item {
  max-width: 340px;
  min-height: 438px;
  padding: 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, min-content);
  gap: 16px 20px;
}

.hotels-header {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 3;
}

.hotel-photo {
  grid-column-start: 1;
  grid-column-end: 3;
}

.hotel-title {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-stars-list {
  display: flex;
}

.hotel-stars-item {
  min-width: 18px;
  min-height: 18px;
  background-image: url("../images/star.svg");
  background-size: 18px 17px;
  background-repeat: no-repeat;
  background-position: center;
}

.hotel-stars-item:not(:last-child) {
  margin-right: 6px;
}

.hotel-raiting {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
  color: #333333;
  text-align: center;
  padding: 9px 21px 8px 21px;
}

.wrapper-pagination {
  display: flex;
  justify-content: space-between;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 480px;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-item:nth-child(n+8) {
  margin-top: 8px;
}

.hotels-on-page {
  display: flex;
  max-width: 500px;
  align-items: center;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotels-on-page-label {
  margin-right: 51px;
}

.select {
  padding: 12px 60px 12px 18px;
  font: inherit;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 17px center;
  appearance: none;
  outline: none;
}

.houses-on-page-select {
  min-width: 160px;
}

.select:hover,
.select:focus {
  border: 2px solid #68a2ca;
}

.select:active {
  border: 2px solid #3f5e72;
}

.select:disabled {
  border: 2px solid #000000;
  opacity: 30%;
}

/* buttons stylising */

.button {
  display: block;
  color: #ffffff;
  font-weight: 700;
  font-family: inherit;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-text-small {
  font-size: 16px;
  line-height: 20px;
}

.button-text-large {
  font-size: 20px;
  line-height: 36px;
}

.button-view {
  width: 48px;
  height: 48px;
  display: block;
  padding: 17px 16px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}

.button-view:not(:last-child) {
  margin-right: 8px;
}

.button-view:nth-child(4n+4) {
  margin-right: 0;
  margin-bottom: 4px;
}

.button-view-current {
  border: 2px solid #000000;
}

.button-view:hover {
  border: 2px solid #000000;
}

.button-view:focus {
  border: 2px solid #68a2ca;
  outline: none;
}

.button-view:active {
  border: 2px solid #000000;
}

.search-hotels-link {
  padding: 12px 149px;
  max-width: 574px;
}

.button-navigation {
  padding: 9px 34px 8px;
}

.subscription-button {
  border-radius: 0 10px 10px 0;
  padding: 12px 33px 12px 35px;
}

.filter-button-submit {
  margin-bottom: 19px;
  padding: 14px 35px;
}

.filter-button-reset {
  color: #ffffff;
  font-family: inherit;
  border: none;
  background-color: rgba(131, 179, 211, 0);
  min-width: 100px;
  cursor: pointer;
  width: 100px;
  margin: 0 auto;
  transition: opacity 0.2s;
}

.filter-button-reset:hover {
  opacity: 60%;
}

.filter-button-reset:focus {
  outline: 3px solid #83b3d3;
  border-radius: 2px;
}

.filter-button-reset:active {
  opacity: 30%;
  outline: none;
}

.hotel-detail-link {
  padding: 9px 26px 8px 27px;
}

.button-favorite {
  padding: 9px 19px 8px 19px;
}

.button-favorite-added {
  background-color: #7db54f;
  padding: 9px 17px 8px 17px;
  transition: background-color 0.2s;
}

.button-favorite-added:hover {
  background-color: #6c9e42;
}

.button-favorite-added:focus {
  background-color: #6c9e42;
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.button-favorite-added:active:not(.button-favorite-added:disabled) {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.button-favorite-added:disabled {
  background-color: #e5e5e5;
}

.button-brown {
  background-color: #756157;
  transition: background-color 0.2s;
}

.button-brown:hover {
  background-color: #615048;
}

.button-brown:focus {
  background-color: #615048;
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
}

.button-brown:active:not(.button-brown:disabled) {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: none;
}

.button-blue {
  background-color: #82b3d3;
  transition: background-color 0.2s;
  outline: none;
}

.button-blue:hover {
  background-color: #68a2ca;
}

.button-blue:focus {
  background-color: #68a2ca;
  box-shadow: 0 0 0 3px #83b3d3;
}

.button-blue:active:not(.button-blue:disabled) {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: none;
}

.button-blue:disabled {
  background-color: #e5e5e5;
}

.pagination-link {
  box-sizing: border-box;
  text-align: center;
  min-width: 60px;
  min-height: 60px;
  padding-top: 11px;
}

.pagination-link-current {
  color: #000000;
  box-sizing: border-box;
  text-align: center;
  min-width: 60px;
  min-height: 60px;
  background-color: #f2f2f2;
  padding-top: 11px;
  cursor: auto;
}

/* modal window */

.modal-wrapper {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

.modal-wrapper-close {
  display: none;
}

.modal {
  position: relative;
  width: 715px;
  margin: auto;
  padding: 62px 64px 70px 76px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 0 60px #cccccc;
  box-sizing: border-box;
}

.modal-close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 54px;
  margin-right: 64px;
  width: 53px;
  height: 53px;
  border: none;
  border-radius: 50%;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  background-color: #e6e6e6;
  outline: 0;
}

.modal-close-button:active::before {
  background-color: #e6e6e6;
  opacity: 30%;
}

.modal-close-button::before {
  position: absolute;
  content: "";
  background-image: url("../images/cross.svg");
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.modal-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 63px;
  margin-left: -2px;
}

.modal-stok {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "A B"
    "- D";
  row-gap: 8px;
  margin-bottom: 11px;
  position: relative;
}

.button-calendar {
  position: absolute;
  display: block;
  text-decoration: none;
  border: none;
  width: 50px;
  height: 50px;
  background-image: url("../images/calendar.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 15px;
  background-color: transparent;
  opacity: 30%;
  cursor: pointer;
  right: 0;
  top: 0;
  outline: none;
}

.button-calendar:hover {
  opacity: 100%;
}

.button-calendar:focus {
  opacity: 100%;
  box-shadow: inset 0 0 0 2px #83b3d3;
  border-radius: 4px;
}

.button-calendar:active {
  opacity: 10%;
  box-shadow: none;
}

.modal-label {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: A;
  font-size: 20px;
  font-weight: 700;
  margin: auto 0;
}

.modal-label-children {
  max-width: 54px;
  margin-right: 6px;
}

.tooltip {
  position: relative;
  width: 25px;
  height: 25px;
  margin-right: auto;
}

.tooltipe-toggle {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  background-color: #83b3d3;
  background-image: url("../images/exclamation_point.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1px 9px;
  cursor: help;
}

.modal-popover-text {
  display: none;
  position: absolute;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  background-color: #333333;
  margin: 15px 0 0 0;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  width: 256px;
  box-sizing: border-box;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.tooltipe-toggle:hover {
  background-color: #68a2ca;
}

.tooltipe-toggle:hover + .modal-popover-text,
.tooltipe-toggle:focus + .modal-popover-text {
  display: block;
}

.tooltipe-toggle:focus {
  background-color: #68a2ca;
  outline: none;
}

.modal-popover-text::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #333333;
  top: -5px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.modal-field {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: B;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  width: 420px;
  padding: 15px 60px 14px 19px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 4px;
  box-sizing: border-box;
  align-self: flex-start;
}

.modal-field:hover {
  background-color: #e6e6e6;
}

.modal-field:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-field:not(:placeholder-shown) {
  background-color: #ffffff;
  box-shadow: 0 0 0 2px #000000;
}

.modal-field:disabled {
  opacity: 30%;
}

.modal-promt {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: D;
  margin: 0;
  font-size: 16px;
  line-height: 21px;
}

.promt-highlight {
  color: #ff5757;
}

.modal-vacationers-wrapper {
  display: grid;
  grid-template-columns: 288px 230px;
  column-gap: 56px;
  justify-content: space-between;
  margin-bottom: 40px;
  position: relative;
}

.modal-adult {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-children {
  display: flex;
  align-items: center;
}

.modal-choise-field {
  display: grid;
  grid-template-columns: 1fr 33px 1fr;
  position: relative;
}

.modal-button-control {
  width: 50px;
  height: 50px;
  border: none;
  background-color: #f2f2f2;
  cursor: pointer;
}

.modal-button-control:hover::before,
.modal-button-control:hover::after {
  opacity: 100%;
}

.modal-button-control:focus {
  outline: none;
}

.modal-button-control:focus::before,
.modal-button-control:focus::after {
  outline: 3px solid #83b3d3;
  opacity: 100%;
  border-radius: 2px;
}

.modal-button-control:active::before,
.modal-button-control:active::after {
  opacity: 30%;
  outline: none;
}

.modal-button-control:disabled {
  opacity: 30%;
}

.modal-button-min {
  border-radius: 4px 0 0 4px;
  position: relative;
}

.modal-button-min::before {
  position: absolute;
  content: "";
  background-image: url("../images/minus.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px 1px;
  width: 16px;
  height: 16px;
  top: 0;
  right: 0;
  margin-top: 16px;
  margin-right: 17px;
  opacity: 30%;
}

.modal-button-max {
  border-radius: 0 4px 4px 0;
  position: relative;
}

.modal-button-max::after {
  position: absolute;
  content: "";
  background-image: url("../images/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px 13px;
  width: 16px;
  height: 16px;
  top: 0;
  right: 0;
  margin-top: 16px;
  margin-right: 19px;
  opacity: 30%;
}

.modal-field-amount {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  border: none;
  background-color: #f2f2f2;
}

.modal-field-amount:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.modal-field-amount:hover :not(.modal-field-amount:disabled),
.modal-field-amount:focus {
  background-color: #e6e6e6;
  outline: none;
}

.modal-field-amount:disabled {
  opacity: 30%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.modal-button-search {
  border-radius: 10px;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
}

.modal-button-search:focus {
  outline: 3px solid #756257;
}

.modal-button-search:active {
  outline: none;
}
