@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-size: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    background-color: #ffffff;
}

/* header */

.navigation-link {
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.button-navigation {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #756157; 
    border-radius: 4px;
}

/* main-index */

ul {
    list-style: none;
}

.main-index {
    text-align: center;
}

.main-image {
    background-color: #bbcedd;
    background-image: url("/images/index-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.main-paragraph-bold {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-transform: uppercase;
}

/* reasons */

.reason-list {
    font-size: 18px;
    line-height: 21px;
}

.reason-header {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000000;
}

.reason-one-container {
    color: #FFFFFF;
    background-color: #82B3D3;
}

.reason-one-header, .reason-two-header {
    color: #FFFFFF;
}

.reason-one-item-one, .reason-one-item-three {
    background-color: rgba(131, 179, 211, 0.12);
}

.reason-two-container {
    color: #FFFFFF;
    background-color: #82B3D3;
}

.reason-item-three, .reason-item-five {
    background-color: rgba(131, 179, 211, 0.12);
}

.reason-item-four {
    background-color: rgba(131, 179, 211, 0.2);
}


/* hotels searching */

.search-hotels h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-transform: uppercase;
}

.search-hotels-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #756157; 
}

/* subscription */

.subscription {
    color:#ffffff;
    background-image: url("/images/subscription-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.subscription h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

/* footer */

.footer-telephon-link {
    font-size: 40px;
    line-height: 40px;
    color:#000000;
    text-decoration: none;
}

/* main-catalog */

.main-inner-filter {
    color:#ffffff;
    background-image: url("/images/filter-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}



